body { padding: 0; margin: 0 }
#unity-container { position: absolute; background-color: #402207; }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%); }
#unity-container.unity-mobile { left: 50%; top: 50%; transform: translate(-50%, -50%); }
/*#unity-container.unity-mobile { width: 100%; height: 100%; }*/
#unity-canvas { background: #FFFFFF; }
/*.unity-mobile #unity-canvas { width: 100%; height: 100%; }*/
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none; }
#unity-logo { width: 512px; height: 256px; background: url('Icon.png') no-repeat center; background-size: contain; }
#unity-progress-bar-empty { width: 512px; height: 30px; margin-top: 10px; margin-left: auto; margin-right: auto; background: url('progress-bar-empty-dark.png') no-repeat center; background-size: contain; }
#unity-progress-bar-full { width: 0%; height: 100%; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center; background-size: contain; }
#unity-footer { position: relative; }
/*.unity-mobile #unity-footer { display: none; }*/
#unity-webgl-logo { float:left; width: calc(100% - 89px); height: 38px; background: url('webgl-logo.png') no-repeat center; background-size: contain; background-position: left; }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px; display: none; }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center; background-size: contain; margin-right: 5px; }
#unity-help-button { float: right; width: 38px; height: 38px; background: url('help-button.png') no-repeat center; background-size: contain; margin-right: 5px; }
#unity-message-close { float: right; width: 38px; height: 38px; background: url('close-button.png') no-repeat center; background-size: contain; margin-right: 5px; }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none; width: max-content; max-width: 80%; max-height: calc(90% - 38px); overflow-y: auto; z-index: 1; }
#unity-message { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none; width: max-content; max-width: 80%; max-height: calc(90% - 38px); overflow-y: auto; z-index: 1; }
